<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Faq>
            <version>1.4.4</version>
        </LCB_Faq>
    </modules>
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>LCB_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </faq>
        </routers>
        <layout>
            <updates>
                <faq>
                    <file>lcb_faq.xml</file>
                </faq>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <faq>
                <class>LCB_Faq_Helper</class>
            </faq>
        </helpers>
        <blocks>
            <faq>
                <class>LCB_Faq_Block</class>
            </faq>
        </blocks>
        <models>
            <faq>
                <class>LCB_Faq_Model</class>
                <resourceModel>faq_mysql4</resourceModel>
            </faq>
            <faq_mysql4>
                <class>LCB_Faq_Model_Mysql4</class>
                <entities>		  
                    <faq>
                        <table>lcb_faq</table>
                    </faq>
                    <category>
                        <table>lcb_faq_category</table>
                    </category>
                </entities>
            </faq_mysql4>
        </models>
        <resources>
            <lcb_faq_setup>
                <setup>
                    <module>LCB_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_faq_setup>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>
        <template>
            <email>
                <lcb_faq_template module="faq">
                    <label>Contact</label>
                    <file>lcb_faq.html</file>
                    <type>html</type>
                </lcb_faq_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <admin_faq before="Mage_Adminhtml">LCB_Faq_Adminhtml</admin_faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <faq>
                    <file>lcb_faq.xml</file>
                </faq>
            </updates>
        </layout>
        <translate>
            <modules>
                <lcb_faq>
                    <files>
                        <default>LCB_Faq.csv</default>
                    </files>
                </lcb_faq>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <faq>
            <general>
                <visibility_groups>0</visibility_groups>  
            </general>
        </faq>
    </default>
</config> 
